html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	margin: 3% 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

header h1 {
	margin: 5% 0 3% 0;
	padding: 0;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 1% 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10%;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 0.3125em 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 90%;
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.section-one h4 {
	padding: 0.625em 0;
}

.section-two h4,
.section-three h4 {
	padding: 0.625em 1.875em;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media (min-width: 768px) {
	header {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	header h1 {
		margin: 0;
	}
	
	header nav ul {
		flex-flow: row;
	}

	header nav ul li {
		padding: 0 5%;
	}

	.bottom-section {
		flex-flow: row;
		text-align: left;
		height: 100%;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		min-height: 280px;
		border-top: 1px solid #eee;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
}